.styleAnHien{
    display: none;
    width: 100%;
    height: 130px;
    
}
#Header{
    height: 400px;
}
#Footer{
    height: 200px;
}
menu {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}
.div-style{
    display: none;
}